.all_menu{
    /* border: 1px solid black; */
    width: 1100px;
    margin: 0 auto;
    display: flex;
    margin-top: 75px;
    margin-bottom: 5%;
}
.side_menu{
    /* border: 1px solid black; */
    /* background-color: rgb(189, 189, 189); */
    width: 20%;
    box-sizing: border-box;
    padding: 2%;
    line-height : 200%;
}
.side_menu_set{
    /* border: 1px solid black; */
    background-color: rgb(241, 241, 241);
    box-shadow: 2px 2px 2px 2px #eeeded;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius : 10px;
}
.side_menu_set h3{
    padding-left: 10px;
}
.side_menu li{
    list-style-type: none;
    padding-left: 30px;
    /* font-weight: bold; */
}
.side_menu_li_point a{
    font-weight: bold;
}
.side_menu_set a{text-decoration: none;color: black;}
.side_menu_set a:visited{color: black;}

.notice{
    /* border: 1px solid black; */
    width: 80%;
    box-sizing: border-box;
    padding: 2%;
}
.write-link{
    float: right;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    background-color: rgb(206, 206, 206);
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
}
table{
    /* border: 1px solid black; */
    /* background-color: rgb(241, 241, 241); */
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
thead{
    height: 50px;
    background-color: rgb(241, 241, 241);
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    font-weight: bold
}
td{
    border-bottom: 1px solid rgb(187, 187, 187);
    font-size: 16px;
}
tr{height: 35px;}
.td1{width: 10%;}
.td2{width: 50%;}
.td3{width: 15%;}
.td4{width: 15%;}
.td5{width: 10%;}
.td22{text-align: left; }
.td22 a:hover{color: rgb(193, 193, 193);}

.search_form{
    width: 600px;
    /* background-color: aqua; */
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.search-form-inner{
	display: flex;
}

.search_form select{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
}
.search_form input{
    width: 400px;
    height: 30px;
    text-indent: 10px;
    outline: none;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid black;
}
.search_form button{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

/* 페이징 */
 .page_number{
    /* background-color: rgb(117, 117, 117); */
    padding: 30px;
    text-align: center;
}
 div.paging {
    /* background-color: rgb(181, 1, 1); */
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
    
  }
  .pages{
    margin: 0 auto;
  }
  div.paging>div>i {
    margin: 0 3px;
  }
  
  div.paging>div>div.pages {
    margin: 0 5px;
  }
  
  div.paging>div>div.pages>span {
    margin: 0 3px;
  }
  
  div.paging>div>i:hover,
  div.paging>div>div.pages>span:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  span.active {
    color: orangered;
    font-weight: bold;
  } 

footer{
    height: 150px;
    background-color: rgb(170, 221, 255);
    text-align: center;
}