.container {
   position: relative;
   width: 1100px;
   margin: 0 auto;
    padding-bottom: 150px;
}

.side_menu {
   position: relative;
    /*height: 페이징 한 후 결정 */ 
}

.side_menu_set {
   position: fixed;
    width: 210px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}
.side_menu_set h3 {
   font-size: 18px;
    font-weight: bold;
    border-bottom: 1.5px solid black;
    padding-bottom: 3px;
}

.side_menu li {   
   font-size: 14px;
   font-weight: 600;
   
   margin-bottom: 10px;
   
   cursor: pointer;
}
.side_menu_set ul {
   margin: 15px 0 10px 10px;
}



.notice {
   /* border: 1px solid black; */
   
    position: relative;
    width: 850px;
    margin-left: 250px;
    margin-top: 75px;
}



.write-link {
   float: right;
   border: 1.3px solid rgb(97, 97, 97);
   border-radius: 5px;
   /* background-color: rgb(206, 206, 206); */
   padding: 3px 8px 3px 8px;
   margin-bottom: 10px;
   color: black;
   font-size: 10pt;
   margin-right: 10px;
}

table {
   /* border: 1px solid black; */
   /* background-color: rgb(241, 241, 241); */
   border-collapse: collapse;
   width: 100%;
   text-align: center;
}

thead {
   height: 50px;
   background-color: rgb(241, 241, 241);
   border-top: 1.5px solid black;
   border-bottom: 1px solid #c9c9c9;
   font-weight: bold
}

td {
   border-bottom: 1px dotted rgb(187, 187, 187);
   font-size: 16px;
   height: 45px;
}

tr {
   height: 35px;
}

.td1 {
   width: 10%;
}

.td2 {
   width: 50%;
}

.td3 {
   width: 15%;
}

.td4 {
   width: 15%;
}

.td5 {
   width: 10%;
}

.td-title {
   text-align: left;
   color: black;
   text-indent: 10px;
}

.td-title a {
   color: black;
}

.td-title a:hover {
   color: rgb(193, 193, 193);
}

.search_form {
   width: 600px;
   /* background-color: aqua; */
   text-align: center;
   padding: 20px;
   margin: 0 auto;
}

.search-form-inner {
   display: flex;
}

.search_form select {
   width: 100px;
   height: 30px;
   border-radius: 5px;
   margin-right: 5px;
}

.search_form input {
   width: 400px;
   height: 30px;
   text-indent: 10px;
   outline: none;
   border-radius: 5px;
   margin-right: 5px;
   border: 1px solid black;
}

.search_form button {
   width: 50px;
   height: 30px;
   border-radius: 5px;
   border: 1px solid black;
}

/* 페이징 */
.page_number {
   /* background-color: rgb(117, 117, 117); */
   padding: 30px;
   text-align: center;
}

.paging {
   /* background-color: rgb(181, 1, 1); */
   width: 400px;
   align-items: center;
   margin: 0 auto;
}

.paging a {
   /* border: 1px solid black; */
   width: 40px;
   height: 30px;
   line-height: 30px;
   display: inline-block;
   border-radius: 5px;
   color: rgb(53, 53, 53)
   
}
.paging a:hover {
   text-decoration: none;
   color: #d1d1d1;
}
.paging_i{
   background-color: #ffffff;
}
.paging_i.active {
    font-weight: bold;
    color: black;
}


span.active {
   color: orangered;
   font-weight: bold;
}

.side_menu_set a {
    color: #999999;
}

.side_menu_set .active a {
    color: #000000;
}

