.side_menu_set ul li{
    list-style-type: none;
    padding-left: 25px;
    /* font-weight: bold; */
}


:root{
    --btn-bg-color : #717171;
    --btn-hover-color : #73b7ff;
}

.container{
    /* border: 1px solid black; */
    width: 1100px;
    margin: 0 auto;
    display: flex;
    margin-top: 75px;
    margin-bottom: 5%;
}

/* 사이드네비 */
.side_menu{
    /* border: 1px solid black; */
    /* background-color: rgb(189, 189, 189); */
    width: 20%;
    box-sizing: border-box;
    padding: 2%;
    line-height : 200%;
}
.side_menu_set{
    /* border: 1px solid black; */
    background-color: rgb(241, 241, 241);
    box-shadow: 2px 2px 2px 2px #eeeded;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius : 10px;
}
.side_menu_set h3{
    padding-left: 15px;
}
.side_menu_set ul li{
    list-style-type: none;
    padding-left: 25px;
    /* font-weight: bold; */
}
.side_menu_li_point a{
    font-weight: bold;
}
.side_menu_set a{text-decoration: none; color: black;}
.side_menu_set a:visited{color: black;}
.side_menu_set a:hover{ font-weight: bold;}

/* 글 상세 큰 틀 */
.content_wrap{
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    box-sizing: border-box;
    padding: 2%;
    display: block;
}
.boardType{
    padding-bottom: 5px;
}
.freeboard_page_title{
    /* border: 1px solid black; */
    width: 100%;
    height: 80px;
    border-top:1px solid rgb(80, 80, 80);
    padding-top: 5px;
    border-bottom:1px solid rgb(80, 80, 80);
    padding-bottom: 5px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.nickname{
    font-size: 15px;
    margin-left: 5px;
}
.nickname img{
    width: 15px;
    height: 15px;
}
.writeDatw{
    font-size: 12px;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
    color: #7c7c7c;
}
.boardViews{
    font-size: 12px;
    float: left;
    color: #7c7c7c;
}
.freeboard_page{
    padding-bottom: 20px;
}

/* 글 내용 */
.freeboard_page_content{
    /* border: 1px solid black; */
    width: 100%;
    min-height: 300px;
    height: auto;
    overflow : hidden;
    text-align: center;
    padding-bottom: 20px;
}
.freeboard_page_img{
    border-bottom:1px solid black;
}
.freeboard_page_img img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.freeboard_page_img div{
    float: right;
}

/* 댓글 보기*/
.freeboard_page_comments{
    /* border: 1px solid black; */
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding-bottom: 10px;
}
.comment{
    /* border: 1px solid black; */
    width: 95%;
    /* height: auto;  */
    margin: 0px 10px 10px 10px;
    padding: 10px 0px 20px 0px;
    border-top:1px solid rgb(187, 187, 187);
    margin: 0 auto;
    line-height: 30px;
}
.comment_content{
    line-height: 23px;
}
.comment_name{
    font-weight: bold;
}
.comment_date{
    color: #7c7c7c;
}
/* 댓글작성 */
.my_comment{
    /* border: 1px solid black; */
    width: 95%;
    height: 120px; 
    margin: 10px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255)
}
.my_comment input:focus {outline:none;}

.my_comment_sender{
    font-weight: bold;
    border: none;
    width : 100%;
}
.my_comment_sender_btn{
    float: right;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: rgb(99, 99, 99);
}
.my_comment_sender_btn:hover{
    background-color: #717171;
}
.my_comment_content{
    margin-top: 10px;
    width: 100%;
    height: 65px;
    border: none;
    resize: none;
    border: none;
}
.btnModi{  /* 수정 */
    padding: 3px 5px 3px 5px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    /* background-color: #717171; */
    color: #fff;
    cursor: pointer;
}
.btnDel{    /* 삭제 */
    padding: 3px 5px 3px 5px;
    /* margin-right: 5px; */
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    /* background-color: #717171; */
    color: #fff;
    cursor: pointer;
}
/* 뒤로가기 버튼 */
.freeBoardForm-btn {
    text-align: center;
    margin-top: 50px;
}
.freeBoardForm-btn button {
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bg-color);
    /* background-color: #717171; */
    color: #fff;
    cursor: pointer;
    
}
.freeBoardForm-btn button:hover {
    background-color: var(--btn-hover-color);
}
.hidden {
    display: none;
}