@charset "UTF-8";

body{margin: 0; padding: 0;}
.map_wrap {
	margin: 0 80px;
	padding:0;font-family:'Malgun Gothic',dotum,sans-serif;font-size:12px;}
}
.map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative; width:60%; border-radius: 20px; height: auto; border: 1px solid black;}
#map{width:100%; height: 60vh; }

.toolTab{ position: absolute; top: 0; left: 0; bottom: 0; width: 55px; z-index: 2; background-color: rgb(28, 39, 54);padding-top: 60px; }
.toolBtn{margin: auto; text-align: center;  width: 70%; margin: 10px auto; padding: 1px; }
.toolBtn>button{ background-color: transparent; color: rgb(73, 101, 119); margin: 0 auto; text-align: center; border: transparent; font-size: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.toolBtn .btnImg{ width: 90%;height: 100%; border-radius: 5px; margin: 0 auto; margin-bottom: 3px; padding: 2px 0;} 
.toolBtn:hover .btnImg{background-color: rgb(91, 181, 195); color: #fff; }
.toolBtn:hover button {color: #fff;}
.toolBtn img{width: 70%;}

/* .myTab{ background-color: rgb(28, 39, 54); z-index: 2;  position:absolute;  top: 0; left: 0; bottom: 0; width: 100%; height: 50px; align-content: center;}
.myTab .myTab_title{position: absolute; float: left; left: 70px; font-size: 15px; font-family: 15px; color: #fff; line-height: 270%; opacity: 70%;}
.myTab .myTab_R{position: relative; float: right; right: 20px; width: 200px; display: flex;}
.myTab .myTab_R button{width: 40px; margin-left: 20px; height: 30px; margin: auto; background-color: transparent; border: none; color: white; opacity: 70%;  border-radius: 5px;}
.myTab .myTab_R button:hover{ background-color: rgb(91, 181, 195); color: white; opacity: 100%; font-weight: bold;}
.myTab .myTab_R .myImg{display: flex;}
.myTab .myTab_R img{width: 35px; border-radius: 20px;}
.myTab .myTab_R .content{ align-content: center; text-indent: 15px; color: white; opacity: 70%; font-size: 14px;} * */

#searchTab {position:absolute; top:0px; left: 45px;bottom:0;width:300px;margin:10px 0  0 10px; padding:5px;overflow-y:auto;background:rgba(255, 255, 255); font-size:12px; transform: translateX(0%);
 transition: opacity 0.5s, transform 0.5s; z-index: 1;}
.bg_white {background:#fff;}
#searchTab hr {display: block; height: 1px; border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#searchTab .option{text-align: center; height: 50px; width: 100%; align-content: center;}
#searchTab form{border: 1px solid black; height: 40px; border-radius: 5px;}
#searchTab .option input{ width: 80%; height: 40px; padding: 0;  margin: 0; border: none; text-indent: 20px; background-color: transparent;}
#searchTab .option button{ width: 18%; height: 40px; padding: 0; margin: 0; border: none; background-color: transparent;}
.slide_h{ opacity: 0; visibility: hidden; transition: opacity 0.3s ease, visibility 0s linear 0.5s;}
.slide-v{opacity: 1; visibility: visible; transition: opacity 0.3s ease, visibility 0s linear;}

#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 15px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

.click_wrap{border: 1px solid black; width: 40%; padding-bottom: 10px; background-color: #fff; position: absolute; float: right; top: 0;z-index: 2;right:-50px; text-align: center; border-radius: 15px;}


.searchInput:focus {outline: none;}

.positionInfo {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    margin: 10px 0; /* 아래쪽 간격 */
}

#clickLatlng {
	max-height: 60vh; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤바 설정 */
    padding: 10px; /* 내부 여백 설정 */
}

.number {
    width: 30px; /* 숫자 부분의 고정 너비 */
    margin: 0 20px;
    /* border: 1px solid black; */
}

.inputs {
    display: flex;
    flex-direction: column; /* 입력 요소들을 세로로 배치 */
}

.inputs input {
    margin-bottom: 5px; /* 입력 요소 사이 간격 */
}

.map-input {
	width: 200px;
}