/* 
    reset.css
*/
*, :after, :before {margin: 0; padding: 0; box-sizing:border-box;}
body, html {background-color: rgb(236, 236, 236);}
.wrap {position: relative; width: 100%; background-color: white;}
a {text-decoration:none;color: #999999;}
a:hover {text-decoration: underline; color: #5c5c5c;}
ul, li {list-style: none;}
table {border-collapse:collapse;border-spacing:0}
button {cursor: pointer;}