/* 
    reset.css
*/
* {margin: 0; padding: 0;}
*, :after, :before {box-sizing:border-box;}
html,body {height:100%;overflow-x: hidden;}
a {text-decoration:none;color: #999999;}
a:hover {text-decoration: underline; color: #5c5c5c;}
ul, li {list-style: none;}
table {border-collapse:collapse;border-spacing:0}