/*전체*/
.pt_wrap {
    margin: 75px auto;
    width: 1100px;
    height: 100%;
    display: flex;
    background-color: #f4f4f9;
}

/*옆에 네비*/
.pt_nav {
    width: 250px;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.pt_nav_up {
    text-align: center;
    margin-bottom: 50px;
}

.pt_nav_h2 h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.pt_nav_pt span {
    font-size: 16px;
}

.pt_nav_down {
    margin-top: 20px;
}

.pt_nav_char, .pt_nav_all {
    margin-bottom: 20px;
}

.pt_nav_char h1, .pt_nav_all h1 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.pt_nav_char a, .pt_nav_all a {
    display: block;
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.3s;
}

/*컨텐츠*/
.pt_content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.pt_title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffc9c9;
    display: inline-block;
    padding-bottom: 5px;
}

.pt_categori {
    margin-bottom: 20px;
}

.point-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.point-wrap div {
    margin-bottom: 10px;
}

.pt_span {
    font-size: 16px;
    color: #666;
}

.pt_date1, .pt_date2 {
    position: relative;
}

.flatpickr {
    width: 140px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.pt_cont_btn {
    padding: 8px 16px;
    background-color: lightgray;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pt_cont_btn:hover {
    background-color: #fbabab;
}

.pt_search {
    flex: 1;
    display: flex;
}

.pt_search input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.pt_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.pt_table th, .pt_table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

.pt_table th {
    background-color: #ffc9c9;
    color: #fff;
}

.pt_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pt_table_info:hover {
    background-color: #f1f1f1;
}

tfoot td {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffc9c9;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.pagination a.active {
    background-color: #ffc9c9;
    color: white;
    border: 1px solid #ffc9c9;
}
.pagination a.disabled {
    pointer-events: none;
    opacity: 0.6;
}