<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.MapsMapper">

    <select id="count" resultType="int">
        SELECT count(*) FROM maptbl;
    </select>

    <insert id="insertMaps" parameterType="Maps">
    INSERT INTO maptbl (board_code, days)
    VALUES (#{boardCode}, #{days, typeHandler=com.acorn.project.map.JsonListTypeHandler})
</insert>

<select id="selectMaps" parameterType="String" resultType="Maps">
    SELECT * FROM maptbl WHERE board_code = #{boardCode}
</select>


</mapper>
